rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
      match /players/{userId} {
        allow read: if request.auth != null;
        allow write: if request.auth != null
          && (request.auth.uid == userId
            || request.auth.token.email == 'martin.roszoly2002@gmail.com');
    }
    match /bannedEmails/{email} {
      allow read: if true;
      allow write: if request.auth != null
        && request.auth.token.email == 'martin.roszoly2002@gmail.com';
    }
    match /supportMessages/{messageId} {
      allow create: if request.auth != null
        && (request.resource.data.uid == request.auth.uid
          || request.auth.token.email == 'martin.roszoly2002@gmail.com');
      allow read: if request.auth != null
        && (request.auth.token.email == 'martin.roszoly2002@gmail.com'
          || resource.data.uid == request.auth.uid);
      allow update, delete: if request.auth != null
        && request.auth.token.email == 'martin.roszoly2002@gmail.com';
    }
  }
}
